.wrapper {
  margin-right: auto; 
  margin-left:  auto; 
  max-width: 960px;  
  padding-right: 10px; 
  padding-left:  10px; 
}
#navbar {
  display: flex;                  /* Enable flexbox */
  justify-content: space-between; /* Push items to far left & far right */
  align-items: center;            /* Vertically center items */
  padding: 8px;
  background-color: darkgray;
  color: white;
  text-align: right;
  vertical-align:middle;
  min-height: 20pt;
}

.push-right {
  margin-left: auto; /* Push this item to the far right */
}

table {
  border-collapse: collapse; /* 枠線を一重線に */
  width: 100%; /* テーブル幅を親要素に合わせる */
}

table th, table td {
  border: 1px solid lightgray; /* 枠線の色と太さ */
  padding: 5px; /* セル内の余白 */
}

table th {
  background-color: lightgray; /* 見出しセルの背景色 */
  color: #555555; /* 見出しセルの文字色 */
}

table td {
  background-color: #ffffff; /* 通常セルの背景色 */
  color: #333333; /* 通常セルの文字色 */
}

.a-btn {
    background-color: #04AA6D; /* Green background */
    border: none; /* Remove default border */
    color: white; /* White text */
    padding: 4px 18px; /* Space inside button */
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth effects */
}

.a-btn:hover {
  background-color: #0e6d4a; /* Darker green on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

a.a-btn{
  text-decoration: none;
}

.bg-danger{
  background-color: red;
}
.bg-primary{
  background-color: blue;
}
.bg-success{
  background-color: green;
}